
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.app {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 100, 100, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}
h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.input-group input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 70%;
  font-size: 16px;
}

.input-group button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #052cf0;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.input-group button:hover {
  background-color: #000000;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.task-list li:hover {
  background-color: #f1f1f1;
}

.task-list li span {
  cursor: pointer;
  flex-grow: 1;
  text-align: left;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: #999;
}

.task-list li button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-list li button:hover {
  background-color: #c9302c;
}
